body {
  background-color: #eef2f7af;
  font-family: Arial, sans-serif;
}

div {
  width: 650px;
  margin: 30px auto;
  padding: 25px;
  background-color: rgb(223, 223, 223);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px gray;
}

h1 {
  color: #a31a5a;
  margin-bottom: 10px;
}

h2 {
  color: #000000;
  margin-bottom: 20px;
}

h3 {
  color: #7c0786;
  margin-top: 20px;
}

p {
  margin: 10px 0;
  color: #050505;
}

img {
  width: 200px;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 0 0 10px gray;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #2d0333;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #f381f3;
}
